<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>You visited a new place!</h1>
    <p>{{ city.getCityName }}</p>
    <p>{{ date.getDate }}</p>
    <p><a href='/'>View your list of places you've visited.</a></p>
</body>
</html>
